{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

.container {
    background-color: #f1f8f8;
    min-height: 100vh;
    border: 10px solid black;
}

.content{
    max-width: 900px;
    margin: 0 auto;
}

.top_section {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-content: flex-end
    
}

.top_section h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: rgb(57, 29, 29);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: coral;
    text-decoration: underline cover;
    text-decoration-color: black;
    text-decoration-thickness: 3px;

}

.top_section h4{
    font-size: 30px;
    font-weight: bolder;
    text-align: end;
}

.top_section h5 {
    font-size: 20px;
    text-align:end;
}

.image_container,img{
    width: 300px;
    height: 320px;
    border-color: black;
    border:solid black;
}

.about.section{
    margin-top: 50px;
}

.about_section h2{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}

.about_section p{
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1.2px;
    text-align: justify;
}

.other_section li{
    margin-bottom: 15px;
}

footer{
    margin: 50px 0;
}

footer{
    text-align: end;
}
